@using OrderServiceApp.Models

<nav class="sidebar">
    <div class="sidebar-header">
        <span class="sidebar-brand">Gestión de Pedidos</span>
    </div>

    <ul class="sidebar-menu">
        @foreach (var item in MenuConfig.Items)
        {
            <NavItem Item="item" />
        }
    </ul>
</nav>